/*
 * layout.css contains styling for main content and navigation 
 * bar, and necessary spacing values, including media queries 
 * for screen sizes. All things layout.
 */
:root {
    --layout-navbar-color: var(--theme-color-accent);
    --layout-header-color: var(--theme-color-accent);
    --layout-footer-color: var(--theme-color-accent);
    --layout-color-link-hover: var(--theme-color-text-onlight);
    --layout-navbar-size: 10vmax;
}

/* - Navigation - */
/* OLD CODE DO NOT UNCOMMENT */
/* .navbar {
    background-color: var(--layout-navbar-color); var(--color-navbar);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;
    min-height: var(--layout-navbar-size);
    max-height: var(--layout-navbar-size);
    user-select: none;
    -webkit-user-select: none; Safari, Chrome
    -ms-user-select: none;    Internet Explorer/Edge/
} */

/* .navbar img.logo {
    display: block;
    width: var(--layout-navbar-size);
    height: auto;
} */
    
/* .navbar div.logo-container {
    display: flex;
    width: 30%;
    justify-content: center;
} */
    
/* .navbar div.link-container {
    display: flex;
    width: 70%;
    justify-content: center;
} */
    
/* .navbar a {
    color: var(--theme-color-text-ondark);
    font-size: 2em;
    text-decoration: none;
    text-shadow: 1px 1px black;
    margin-right: 2em;
} */

/* - Main Content - */
/* div.main-content {
    padding: 2vmin;
    margin-top: var(--layout-navbar-size); Position it at bottom of navbar
} */

/* div.logo-container {
    width: 30%;
    display: flex;
    align-content: center;
} */

/* .grid-layout {
    display: grid;
    grid-template-rows: 10vmin 80vmin 10vmin;
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
} */

/* STRUCTURE AND LAYOUT */
body {
    margin: 0px;
}

header {
    width: 100vw;
    height: 12vmin;
    display: flex;
    background-color: var(--theme-color-accent);
    align-items: center;
    align-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* For Logo */
header>img {
    width: auto;
    height: 80%;
    margin-left: 2rem;
}

nav {
    width: 100%;
}

nav ul {
    margin: 0px;
    padding: 0px;
    float: right;
}

nav ul li a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--theme-color-text-ondark);
    transition: 0.1s ease-in;
    text-shadow: 1px 1px var(--theme-color-cocoa);
}

nav ul li a:hover {
    color: var(--theme-color-link-hover);
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 3rem;
}

main {
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 80vh;
}

footer {
    height: auto;
    min-height: 150px; /*min(5vmin, auto);*/
    max-height: 20vh;
    background-color: var(--theme-color-foreground);
    font-size: 2rem;
}

.footer-content {
    color: var(--theme-color-text-onlight);
    text-align: center;
}

.active-page {
    display: none;
}