/*
 * layout.css contains styling for main content and navigation 
 * bar, and necessary spacing values, including media queries 
 * for screen sizes. All things layout.
 */
:root {
    /* OLD VARS */
    /*  --layout-navbar-color: var(--theme-color-brown); var(--theme-color-accent);*/
    /*  --layout-header-color: var(--theme-color-brown); var(--theme-color-accent);*/
    /*  --layout-footer-color: var(--theme-color-brown); var(--theme-color-accent);*/
    /*--layout-color-link-hover: var(--theme-color-text-onlight);
    --layout-navbar-size: 10vmax;*/
    
    /* font-size: clamp(1rem, calc(1rem + 1vw), 2rem); */
}

/* - Navigation - */
/* OLD CODE DO NOT UNCOMMENT */
/* .navbar {
    background-color: var(--layout-navbar-color); var(--color-navbar);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;
    min-height: var(--layout-navbar-size);
    max-height: var(--layout-navbar-size);
    user-select: none;
    -webkit-user-select: none; Safari, Chrome
    -ms-user-select: none;    Internet Explorer/Edge/
} */

/* .navbar img.logo {
    display: block;
    width: var(--layout-navbar-size);
    height: auto;
} */

/* .navbar div.logo-container {
    display: flex;
    width: 30%;
    justify-content: center;
} */

/* .navbar div.link-container {
    display: flex;
    width: 70%;
    justify-content: center;
} */

/* .navbar a {
    color: var(--theme-color-text-ondark);
    font-size: 2em;
    text-decoration: none;
    text-shadow: 1px 1px black;
    margin-right: 2em;
} */

/* - Main Content - */
/* div.main-content {
    padding: 2vmin;
    margin-top: var(--layout-navbar-size); Position it at bottom of navbar
} */

/* div.logo-container {
    width: 30%;
    display: flex;
    align-content: center;
} */

/* .grid-layout {
    display: grid;
    grid-template-rows: 10vmin 80vmin 10vmin;
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
} */

:root {
    --layout-header-background: var(--terracota);
    --layout-footer-background: var(--terracota);
    --layout-footer-color: var(--paleApricot);
    --layout-link-color: var(--paleApricot);
    --layout-link-shadow-color: var(--cocoa);
    --layout-link-hover-color: var(--cocoa);
    --layout-link-shadow-hover-color: white;
    --layout-footer-text-shadow: var(--cocoa);
    --layout-navbar-height: 12vmin;
    --layout-navbar-margin-botom: 30px;
    
    /* --layout-font-size-body: clamp(1rem, calc(1rem + 0.5vw), 1.5rem); */
    --layout-font-size-body: clamp(0.95rem, 0.9rem + 0.3vw, 1.125rem);
    /* --layout-font-size-header: clamp(1rem, calc(1rem + 2vw), 2rem); */
    /* --layout-font-size-footer: clamp(1rem, calc(1rem + 2vw), 2rem); */
    /* } */
    
    /*:root {*/
    /* Base */
    /* 15–18px */
    --fs-body: clamp(0.95rem, 0.9rem + 0.3vw, 1.125rem);
    
    /* Headings */
    /* 28–48px  */
    --fs-h1: clamp(1.75rem, 1.4rem + 2.5vw, 3rem);
    /* 22–36px */
    --fs-h2: clamp(1.375rem, 1.2rem + 1.6vw, 2.25rem);
    
    /* 18–28px  */
    --fs-h3: clamp(1.125rem, 1.05rem + 1vw, 1.75rem);
    
    /* 16–22px  */
    --fs-h4: clamp(1rem, 0.95rem + 0.6vw, 1.375rem);
    
    /* 15–20px  */
    --fs-h5: clamp(0.95rem, 0.9rem + 0.4vw, 1.25rem);
    
    /* 14–18px */
    --fs-h6: clamp(0.875rem, 0.85rem + 0.3vw, 1.125rem);
    
    /* UI */
    /* 14–18px */
    --fs-ui: clamp(0.875rem, 0.85rem + 0.3vw, 1.125rem);
    /* 12–14px */
    --fs-small: clamp(0.75rem, 0.72rem + 0.2vw, 0.875rem);

    --layout-font-size-navbar-link: 2vw;
    --layout-font-size-footer-text: 2.5vw;
    --layout-font-size-body: 2.2vw;
}

p, font, th, td, label, input, a, button {
    font-size: var(--layout-font-size-body);
}

h2 {
    font-size: 2.4vw;
}


/* p,
button,
a,
td,
th,
label,
input {
    font-size: var(--layout-font-size-body);
} */

/* h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

h4 {
    font-size: var(--fs-h4);
}

h5 {
    font-size: var(--fs-h5);
}

h6 {
    font-size: var(--fs-h6);
} */

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

/* STRUCTURE AND LAYOUT */
body {
    margin: 0px;
}

header {
    width: 100vw;
    height: var(--layout-navbar-height);
    display: flex;
    background-color: var(--layout-header-background);
    align-items: center;
    align-content: center;
    /*border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;*/
    margin-bottom: var(--layout-navbar-margin-bottom);
    
    position: sticky;
    /* Make navbar go up when scrolled down */
    top: -var(--layout-navbar-height);
    z-index: 999;
}

/* For Logo */
header>img {
    width: auto;
    height: 80%;
    margin-left: 2rem;
}

header>img:hover {
    transform: scale(1.05);
}

nav {
    width: 100%;
}

nav ul {
    margin: 0px;
    padding: 0px;
    float: right;
}

nav ul li a {
    text-decoration: none;
    
    font-size: var(--layout-font-size-navbar-link);
    color: var(--layout-link-color);
    transition: 0.1s ease-in;
    text-shadow: 1px 1px var(--layout-link-shadow-color);
}

nav ul li a:hover {
    color: var(--layout-link-hover-color);
    text-shadow: -1px -1px var(--layout-link-shadow-hover-color);
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: var(--layout-font-size-navbar-link);
}

main {
    padding-top: 0px;
    padding-bottom: 30px;
    min-height: 80vh;
}

footer {
    height: auto;
    min-height: 150px;
    /*min(5vmin, auto);*/
    max-height: 20vh;
    background-color: var(--layout-footer-background);
    font-size: var(--layout-font-size-footer-text);
}

.footer-content {
    color: var(--layout-footer-color);
    text-shadow: 1px 1px var(--layout-footer-text-shadow);
    text-align: center;
}

.active-page {
    display: none;
}

/* || UTILITIES */
.no-margin-bottom {
    margin-bottom: 0px;
}


/* || MISCELANOUS */
noscript,
#toastbox {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: red;
    background-color: var(--light);
    padding: 1.5rem;
    margin: auto;
    border-radius: 13px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
}

#toastbox {
    color: var(--theme-color-text-onlight);
    /* background-color: var(--light); */
    /*position: absolue;*/
}

.hidden {
    visibility: hidden;
}