/*
 * product_list.css contains styling for 
 * design of product list
 */
:root {
   --product_list-card-background: var(--theme-color-paleApricot);
   /*--product_list-card-text: var(--var)*/
}

div.product-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    margin-top: 2vmin;
}

div.product-card {
    background-color: var(--product_list-card-background);
    max-width: 30vmax;
    border: solid 1vmin var(--theme-color-accent); /*var(--theme-color-navbar);*/
    margin-top: 5vmin;
}

div.product-image-container {
    width: inherit;
    height: auto;
    margin: auto;
    margin-top: 2vmin;
}

div.product-image-container > img {
    display: block;
    width: 65%;
    height: auto;
    margin: auto;
}

div.product-description-container {
    color: var(--theme-color-text-onlight); /*var(--theme-color-background);*/
    padding-left: 3vmin;
    padding-right: 3vmin;
    padding-top: 2vmin;
    padding-bottom: 3vmin;
}

span.product-description-label {
    font-weight: bold;
    font-size: 1.2rem;
}

h1.product-title {
    margin-top: 0px;
    text-align: center;
    font-size: 1.4em;
}

p.product-description {
    text-align: justify;
    text-align-last: left;
}

p.product-price-container {
    
}

p.product-price {
    text-align: center;
}

button.add-to-cart {
    display: block;
    margin: auto;
    color: var(--theme-color-text-onlight);
    background-color: var(--theme-color-accent); /*var(--theme-color-navbar);*/
    border: none;
    padding: 5%;
}

button.add-to-cart:hover {
    /*background-color: var();*/
}

span.product-price-text {
    font-weight: bold;
}