:root {
    --color-background: #301A1A;
    --color-navbar: #B2524B;
    --color-text: #FFCCA2;
    --color-button-hover: ;
    --navbar-size: 10vmax;
}

@font-face {
    font-family: "Montserrat";
    src: url('./fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}

* {
    font-family: "Montserrat";
    font-size: 1.1em;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
}

.navbar {
    background-color: var(--color-navbar);
    width: 100%;
    height: auto;
    min-height: var(--navbar-size);
    max-height: var(--navbar-size);
    position: fixed;
    left: 0px;
    top: 0px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;
    -webkit-user-select: none; /* Safari, Chrome */
    -ms-user-select: none;    /* Internet Explorer/Edge *//
}


.navbar img.logo {
    display: block;
    width: var(--navbar-size);
    height: auto;
}

.navbar div.logo-container {
    width: 30%;
    display: flex;
    justify-content: center;
}

.navbar div.link-container {
    width: 70%;
    display: flex;
    justify-content: center;
}

div.main-content {
    margin-top: var(--navbar-size); /* bottom of navbar */
    padding: 2vmin;
}


/* Navbar link */
.navbar a {
    /*display: inline-block;*/
    color: var(--color-text);
    margin-right: 2em;
    text-decoration: none;
    font-size: 2em;
    /*float: right;*/
}

/*div.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    background-color: #00FF00;
}*/

/*div.flexbox-item {
    background-color: var(--color-navbar);
    min-width: 10vmax;
    min-height: 10vmax;
    min-width: 100px;
    min-height: 100px;
}*/


div.product-box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    margin-top: 2vmin;
    /*background-color: var(--color-navbar);*/
}

div.product-box {
    background-color: var(--color-text);
    max-width: 75%;/*20vmax;*/
    /*min-width: auto;
    min-height: auto;*/
    border: solid 1vmin var(--color-navbar);
    margin-top: 5vmin;
}

div.product-image-container {
    width: inherit;
    height: auto;
    /*max-width: 50vw;*/
    margin: auto;
    margin-top: 2vmin;
}

div.product-image-container > img {
    display: block;
    width: 65%;/*20vmin;*/
    height: auto;
    margin: auto;
    /*align-self: center;*/
}

div.product-description-container {
    color: var(--color-background);
    padding-left: 3vmin;
    padding-right: 3vmin;
    padding-top: 2vmin;
    padding-bottom: 3vmin;
}

span.product-description-label {
    font-weight: bold;
    font-size: 1.2rem;
}

h1.product-title {
    margin-top: 0px;
    text-align: center;
    font-size: 1.4em;
}

p.product-description {
    text-align: justify;
    text-align-last: left;
}

p.product-price-container {
    
}

p.product-price {
    text-align: center;
}

button.add-to-cart {
    display: block;
    margin: auto;
    color: var(--color-text);
    background-color: var(--color-navbar);
    border: none;
    padding: 5%;
}

button.add-to-cart:hover {
    background-color: var();
}

span.product-price-text {
    font-weight: bold;
}