#dev-tools {
    display: inline-block;
    position: fixed;
    top: 20%;
    background-color: rgba(100, 100, 255, 0.4);
    border-radius: 2px;
    border: 2px solid darkslateblue;
    font-size: 1.5rem;
}

#dev-info-selector,
#dev-info-viewport {
    display: block;
    position: relative;
    width: 100%;
    font-size: inherit;
    margin: 0px;
}

#dev-input-selector,
#dev-input-selector-value,
#dev-input-selector-property,
#dev-input-additive {
    display: block;
    position: relative;
    width: 100%;
    font-size: inherit;
}

#dev-set-unit,
#dev-add-viewport,
#dev-sub-viewport {
    font-size: inherit;
    display: block;
    position: relative;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 6px;
    padding: 18px;
    width: 100%;
    margin-right: 1px;
    margin-bottom: 1px;
}